Package: com.tomaszpoliszuk.alertcontroller
Depends: firmware (>= 12.0), mobilesubstrate, preferenceloader
Name: Alert Controller
Version: 1.4.1
Architecture: iphoneos-arm
Description: Alert Controller - Control UX and UI of your Alerts and Action Sheets
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=alertcontrollerDp
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=alertcontrollerDp
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: Tomasz Poliszuk
Sponsor: thebigboss.org <http://thebigboss.org>
Section: Tweaks
dev: tomaszpoliszuk
Tag: purpose::extension, compatible::ios13
Icon: file:///Library/PreferenceBundles/AlertControllerSettings.bundle/icons/AlertController@3x.png
