{
	title = "Alert Controller";
	items = (
		{
			cell = PSSwitchCell;
			key = "enableTweak";
			label = "Enable Tweak";
			default = 0;
			defaults = com.tomaszpoliszuk.alertcontroller;
			PostNotification = "com.tomaszpoliszuk.alertcontroller.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = "UI Style";
		},
		{
			cell = PSSegmentCell;
			key = "uiStyle";
			label = "UI Style";
			default = 0;
			defaults = com.tomaszpoliszuk.alertcontroller;
			PostNotification = "com.tomaszpoliszuk.alertcontroller.settingschanged";
			validValues = (
				0,
				1,
				2
			);
			validTitles = (
				"Default",
				"Light",
				"Dark"
			);
		},
		{
			cell = PSGroupCell;
			label = "Alert Controller";
			footerText = "When 'Dismiss by tapping outside' is disabled 'Hide cancel action' will remain disabled to prevent user from removing ability to cancel action.";
		},
		{
			cell = PSSwitchCell;
			key = "dismissByTappingOutside";
			label = "Dismiss by tapping outside";
			default = 0;
			defaults = com.tomaszpoliszuk.alertcontroller;
			PostNotification = "com.tomaszpoliszuk.alertcontroller.settingschanged";
			icon = "/Library/PreferenceBundles/AlertControllerSettings.bundle/icons/outside.png";
		},
		{
			cell = PSSwitchCell;
			key = "displayButtonsVertically";
			label = "Display buttons vertically";
			default = 0;
			defaults = com.tomaszpoliszuk.alertcontroller;
			PostNotification = "com.tomaszpoliszuk.alertcontroller.settingschanged";
			icon = "/Library/PreferenceBundles/AlertControllerSettings.bundle/icons/vertical.png";
		},
		{
			cell = PSSwitchCell;
			key = "hideCancelAction";
			label = "Hide cancel action";
			default = 0;
			defaults = com.tomaszpoliszuk.alertcontroller;
			PostNotification = "com.tomaszpoliszuk.alertcontroller.settingschanged";
			icon = "/Library/PreferenceBundles/AlertControllerSettings.bundle/icons/cancel.png";
		},
		{
			cell = PSGroupCell;
			label = "Alert Style";
		},
		{
			cell = PSSegmentCell;
			key = "setAlertStyle";
			default = 9;
			defaults = com.tomaszpoliszuk.alertcontroller;
			PostNotification = "com.tomaszpoliszuk.alertcontroller.settingschanged";
			validValues = (
				9,
				0
			);
			validTitles = (
				"Alert (Default)",
				"Action Sheet"
			);
		},
		{
			cell = PSGroupCell;
			label = "Action Sheet Style";
		},
		{
			cell = PSSegmentCell;
			key = "setActionSheetStyle";
			default = 9;
			defaults = com.tomaszpoliszuk.alertcontroller;
			PostNotification = "com.tomaszpoliszuk.alertcontroller.settingschanged";
			validValues = (
				9,
				1
			);
			validTitles = (
				"Action Sheet (Default)",
				"Alert"
			);
		},
		{
			cell = PSGroupCell;
			label = "Testing Area";
		},
		{
			cell = PSButtonCell;
			label = "Test Alert";
			action = showExampleAlert;
			icon = "/Library/PreferenceBundles/AlertControllerSettings.bundle/icons/AlertController.png";
		},
		{
			cell = PSButtonCell;
			label = "Test Text Alert";
			action = showExampleTextAlert;
			icon = "/Library/PreferenceBundles/AlertControllerSettings.bundle/icons/AlertController.png";
		},
		{
			cell = PSButtonCell;
			label = "Test Action Sheet";
			action = showExampleActionSheet;
			icon = "/Library/PreferenceBundles/AlertControllerSettings.bundle/icons/ActionSheet.png";
		},
		{
			cell = PSGroupCell;
			label = "Related Links";
		},
		{
			cell = PSButtonCell;
			label = "Source Code";
			action = TweakSourceCode;
			icon = "/Library/PreferenceBundles/AlertControllerSettings.bundle/icons/code.png";
		},
		{
			cell = PSButtonCell;
			label = "Report Issue (on GitHub)";
			action = TweakReportIssue;
			icon = "/Library/PreferenceBundles/AlertControllerSettings.bundle/icons/bug.png";
		},
		{
			cell = PSButtonCell;
			label = "Tomasz Poliszuk @ Github";
			action = TomaszPoliszukOnGithub;
			icon = "/Library/PreferenceBundles/AlertControllerSettings.bundle/icons/github.png";
		}
	);
}
