{
	title = "Alert Controller";
	items = (
		{
			cell = PSGroupCell;
			label = "Enable Tweak";
		},
		{
			cell = PSSwitchCell;
			default = false;
			key = "enableTweak";
			label = "Enable Tweak";
			defaults = com.tomaszpoliszuk.alertcontroller;
			PostNotification = "com.tomaszpoliszuk.alertcontroller.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = "Alert Controller";
			footerText = "When 'Dismiss by tapping outside' is disabled 'Hide cancel action' will remain disabled to prevent user from removing ability to cancel action.";
		},
		{
			cell = PSSwitchCell;
			default = false;
			key = "dismissByTappingOutside";
			label = "Dismiss by tapping outside";
			defaults = com.tomaszpoliszuk.alertcontroller;
			PostNotification = "com.tomaszpoliszuk.alertcontroller.settingschanged";
			icon = "/Library/PreferenceBundles/AlertControllerSettings.bundle/icons/outside.png";
		},
		{
			cell = PSSwitchCell;
			default = false;
			key = "displayButtonsVertically";
			label = "Display buttons vertically";
			defaults = com.tomaszpoliszuk.alertcontroller;
			PostNotification = "com.tomaszpoliszuk.alertcontroller.settingschanged";
			icon = "/Library/PreferenceBundles/AlertControllerSettings.bundle/icons/vertical.png";
		},
		{
			cell = PSSwitchCell;
			default = false;
			key = "hideCancelAction";
			label = "Hide cancel action";
			defaults = com.tomaszpoliszuk.alertcontroller;
			PostNotification = "com.tomaszpoliszuk.alertcontroller.settingschanged";
			icon = "/Library/PreferenceBundles/AlertControllerSettings.bundle/icons/cancel.png";
		},
		{
			cell = PSGroupCell;
			label = "Test how Alert will behave";
		},
		{
			cell = PSButtonCell;
			label = "Example Alert";
			action = showExampleAlert;
			icon = "/Library/PreferenceBundles/AlertControllerSettings.bundle/icons/AlertController.png";
		},
		{
			cell = PSButtonCell;
			label = "Example Action Sheet";
			action = showExampleActionSheet;
			icon = "/Library/PreferenceBundles/AlertControllerSettings.bundle/icons/AlertController.png";
		},
		{
			cell = PSGroupCell;
			label = "Related Links";
		},
		{
			cell = PSButtonCell;
			label = "Source Code";
			action = TweakSourceCode;
			icon = "/Library/PreferenceBundles/AlertControllerSettings.bundle/icons/code.png";
		},
		{
			cell = PSButtonCell;
			label = "Report Issue (on GitHub)";
			action = TweakReportIssue;
			icon = "/Library/PreferenceBundles/AlertControllerSettings.bundle/icons/bug.png";
		},
		{
			cell = PSButtonCell;
			label = "Tomasz Poliszuk @ Github";
			action = TomaszPoliszukOnGithub;
			icon = "/Library/PreferenceBundles/AlertControllerSettings.bundle/icons/github.png";
		}
	);
}
